* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 20px;
  min-height: 0px;
}

window#waybar.empty #window {
  opacity: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: @transparent-bg;
  color: @text;
}

tooltip {
  background: @base-alpha;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @crust;
}

#workspaces button {
  padding: 5px;
  color: @surface0;
  margin-right: 5px;
}

#workspaces button.active {
  color: @subtext0;
}

#workspaces button.focused {
  color: @subtext0;
  background: @flamingo;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @crust;
  background: @green;
  border-radius: 10px;
}

#workspaces button:hover {
  background: transparent;
  color: @text;
  border-radius: 10px;
}

#custom-powermenu,
#custom-power_profile,
#custom-weather,
#custom-appmenu,
#custom-wifi,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  background: @base;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid @mantle;
}

#temperature {
  border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
  color: @flamingo;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: @base;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: @green;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: @peach;
  border-radius: 10px 0px 0px 10px;
  margin-left: 7px;
  border-right: 0px;
}

#network,
#custom-wifi {
  color: @yellow;
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  color: @blue;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#pulseaudio {
  color: @blue;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: @mauve;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#battery {
  color: @green;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#battery.critical {
  color: @red-critical;
}

#battery.warning {
  color: @yellow-warning;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  margin-left: 0px;
  color: @peach;
}

#custom-powermenu {
  background-color: @base;
  color: @peach;
  border-radius: 10px;
  padding: 5px 14px 5px 7px;
  margin-left: 5px;
}

#custom-appmenu {
  background-color: @base;
  border-radius: 10px;
  font-size: 22px;
  margin-right: 6px;
}
